.input {
 width: 371px;
 margin: 0;
 padding: 13px 16px;
 font-size: 16px;
 line-height: 21px;
 border-radius: 4px;
}

.input-variant-success {
 position: relative;
 border: 1px solid #98e37e;
}

.input-variant-error {
 border: 1px solid #ef5050;
}

.input-variant-default {
 border: 1px solid #bcbcbc;
}

.label {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin-bottom: 8px;
}

.input-container {
 position: relative;
 display: flex;
 align-items: center;
}

.input-icon {
 position: absolute;
 right: 15px;
 z-index: 1;
}
