.btn {
 padding: 10px 20px;
 width: 70px;
 height: 30px;

}

.btn-variant-default {
 background-color: #62A1EB;
 color: white
}

.btn-variant-primary {
 background-color: red;

}

.btn-variant-secondary {
 background-color: yellow;
}