.btn {
 padding: 10px 20px;
 width: 70px;
 height: 30px;
 cursor: pointer;
}

.btn-variant-default {
 background-color: #62a1eb;
 color: white;
}

.btn-variant-primary {
 background-color: #6B40E3;
 color:white;
}

.btn-variant-secondary {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 464px;
 height: 60px;
 background-color: black;
 color: white;
 border-radius: 8px;
 font-weight: 500;
 font-size: 20px;
 line-height: 24px;
}
