.resume {
 width: 822px;
 height: 1080px;
 background-color: #FFFFFF;
 padding: 48px 80px 65px 80px;
}

.resume-logo {
 position: absolute;
 left: 70%;
 bottom: 5%;
}

.resume-section {
 margin-bottom: 50px;
}

h1 {
 font-family: 'Helvetica Neue', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 34px;
 line-height: 42px;
 color: #F93B1D;
}

.cv-image {
 width: 246px;
 height: 246px;
 border-radius: 133px;
 position: absolute;
 top: 48px;
 right: 75px;
}

.flex {
 display: flex;
 align-items: center;
 gap: 8px;
}

.light-grey-text {
 font-family: 'Helvetica Neue';
 font-style: italic;
 font-weight: 400;
 font-size: 16px;
 line-height: 19px;
 color: #919191;
}

.cv-margin {
 margin-top: 8px;
 margin-bottom: 8px;
}