.Home-div {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 1920px;
 height: 1080px;
 background-image: url(../Assets/homeBG.png);

}

.logo {
 position: absolute;
 top: 470px;
 left: 1075px;
}

.button {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 464px;
 height: 60px;
 background-color: black;
 color: white;
 border-radius: 8px;
 font-weight: 500;
 font-size: 20px;
 line-height: 24px;
}