* {
 margin: 0;
 padding: 0;

}

.form-personal {
 padding-top: 69px;
 display: flex;
 flex-direction: column;
}

.name-surname {
 display: flex;
 column-gap: 50px;
 width: 846px;
 height: 148px;
}

.textarea-margins {
 margin-top: 46px;
 margin-bottom: 17px;
}

.textarea-size {
 width: 798px;
 height: 103px;
 background: #FFFFFF;
 border: 1px solid #BCBCBC;
 border-radius: 4px;
}

.grey-text {
 display: block;
 font-family: 'Helvetica Neue';
 font-style: normal;
 font-weight: 300;
 font-size: 14px;
 line-height: 21px;
 color: #2E2E2E;

}

.input-size {
 width: 798px;
 height: 48px;
}

.input-margin {
 margin-top: 8px;
 margin-bottom: 8px;
}

.upload-photo {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.gap-between-inputs {
 margin-top: 20px;

}

.form-buttons {
 position: absolute;
 left: 40%;
 bottom: 5%;
}

.date-inputs {
 display: flex;
 align-items: center;
 column-gap: 50px;
}

.add-another-one {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 289px;
 height: 48px;
 border-radius: 4px;
 background: #62a1eb;
 border: none;
 color: #ffffff;
}

.line-gray {
 width: 798px;
 height: 0px;
 border: 1px solid #C1C1C1;
 margin-top: 50px;
 margin-bottom: 45px;
}

.bttnn {
 margin: 20px
}


.select-or-date-input-size {
 width: 390px;
 height: 60px;
}

.FormButtons {
 position: absolute;
 left: 8.5%;
 top: 95%
}